<?php

class WPAustin_WordPress_Unit_Tests {

	protected $_includes = array(
	);

	/**
	 * Setup the unit test environment
	 *
	 * @return void
	 */
	public function __construct() {

		$wp_develop_dir = getenv( 'WP_DEVELOP_DIR' );
		$root = dirname( __FILE__, 2 );

		// Load the composer autoload.
		if ( ! file_exists( $root . '/vendor/autoload.php' ) ) {
			throw new Exception(
				'ERROR' . PHP_EOL . PHP_EOL .
				'You must use Composer to install the test suite\'s dependencies.' . PHP_EOL
			);
		}

		$autoloader = require $root . '/vendor/autoload.php';

		if ( empty( $wp_develop_dir ) ) {
			throw new Exception(
				'ERROR' . PHP_EOL . PHP_EOL .
				'You must define the WP_TESTS_DIR environment variable.' . PHP_EOL
			);
		}

		// Load the plugin.
		$this->load_plugin();

		// Start up the WP testing environment.
		require $wp_develop_dir . '/tests/phpunit/includes/bootstrap.php';
	}

	/**
	 * Loads the required files for the plugin.
	 *
	 * @return void
	 */
	private function load_plugin() {
		$root = dirname( __FILE__, 2 );
		foreach ( $this->_includes as $include ) {
			require_once $root . "/includes/{$include}.php";
		}
	}
}

new WPAustin_WordPress_Unit_Tests();
